In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl
%matplotlib inline

In [3]:
df = pd.read_csv("Dataset.csv")
df.head(5)

,Unnamed: 0,filename,rmse,chroma_stft,spec_cent,spec_bw,mfcc0,mfcc1,mfcc2,mfcc3,...,mfcc10,mfcc11,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18,raga
0,0,WhatsApp Ptt 2023-06-18 at 04.25.30.wav-1,0.007417,0.275107,1475.713161,1355.793034,-571.81415,155.59116,-67.480750,2.133071,...,-6.002566,5.672188,-3.907442,-4.077816,-2.371177,-12.670356,0.282242,-3.837318,-4.998177,Kapi
1,1,WhatsApp Ptt 2023-06-18 at 04.25.30.wav-2,0.007417,0.275107,1475.713161,1355.793034,-571.81415,155.59116,-67.480750,2.133071,...,-6.002566,5.672188,-3.907442,-4.077816,-2.371177,-12.670356,0.282242,-3.837318,-4.998177,Kapi
2,2,WhatsApp Ptt 2023-06-18 at 04.25.30.wav-3,0.007417,0.229692,1383.890624,1224.570413,-480.99800,157.79916,-65.643394,-5.140407,...,-9.900951,1.934293,-7.392848,-6.089962,3.465842,-14.811398,-2.135252,-7.038875,-8.736453,Kapi
3,3,WhatsApp Ptt 2023-06-18 at 04.25.30.wav-4,0.007417,0.249781,1391.394982,1258.506032,-472.56644,162.38678,-68.286530,-3.500888,...,-10.350052,2.109288,-8.036554,-4.543243,-1.950676,-14.406099,-1.531089,-6.347700,-4.882176,Kapi
4,4,WhatsApp Ptt 2023-06-18 at 04.25.30.wav-5,0.007417,0.268305,1445.604088,1292.949714,-458.65433,151.42929,-66.322430,-9.111440,...,-5.228861,8.480571,-9.319552,-7.849950,0.751311,-15.293879,-0.816026,-4.165195,-4.491133,Kapi

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1112 non-null   int64
 1   filename     1112 non-null   object
 2   rmse         1112 non-null   float64
 3   chroma_stft  1112 non-null   float64
 4   spec_cent    1112 non-null   float64
 5   spec_bw      1112 non-null   float64
 6   mfcc0        1112 non-null   float64
 7   mfcc1        1112 non-null   float64
 8   mfcc2        1112 non-null   float64
 9   mfcc3        1112 non-null   float64
 10  mfcc4        1112 non-null   float64
 11  mfcc5        1112 non-null   float64
 12  mfcc6        1112 non-null   float64
 13  mfcc7        1112 non-null   float64
 14  mfcc8        1112 non-null   float64
 15  mfcc9        1112 non-null   float64
 16  mfcc10       1112 non-null   float64
 17  mfcc11       1112 non-null   float64
 18  mfcc12       1112 non-null   float64
 19  mfcc13       1112 non-null   float64
 20  mfcc14       1112 non-null   float64
 21  mfcc15       1112 non-null   float64
 22  mfcc16       1112 non-null   float64
 23  mfcc17       1112 non-null   float64
 24  mfcc18       1112 non-null   float64
 25  raga         1112 non-null   object
dtypes: float64(23), int64(1), object(2)
memory usage: 226.0+ KB

In [5]:
df.describe()

,Unnamed: 0,rmse,chroma_stft,spec_cent,spec_bw,mfcc0,mfcc1,mfcc2,mfcc3,mfcc4,...,mfcc9,mfcc10,mfcc11,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18
count,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,...,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000,1112.000000
mean,331.039568,0.034735,0.274061,1409.617112,1069.467220,-359.055095,157.033217,-70.540914,-12.806630,-30.022579,...,-10.268392,-10.522831,-2.441768,-2.661638,-5.058257,-3.224982,-6.049175,3.294031,0.518320,-0.186708
std,229.586946,0.025059,0.043931,238.693574,221.429639,75.984207,22.846405,19.886976,25.747862,13.242645,...,8.621038,7.979323,6.493847,6.767679,5.328477,5.655767,6.081289,5.388267,5.103192,5.441244
min,0.000000,0.002962,0.131412,848.453532,574.361522,-618.156000,104.373405,-125.311386,-83.900520,-76.618650,...,-43.081740,-39.251522,-20.835340,-23.753784,-22.832348,-22.053825,-25.948805,-14.338396,-14.156019,-17.903850
25%,138.750000,0.018164,0.245541,1245.216965,974.257032,-405.323890,140.471887,-83.523750,-29.234117,-38.521539,...,-15.939898,-15.503423,-7.129270,-6.701900,-8.311873,-7.247399,-9.781766,-0.150402,-2.923651,-3.550472
50%,277.500000,0.021954,0.289034,1382.650104,1016.731450,-349.618045,155.471985,-69.823375,-10.424059,-29.494612,...,-10.361673,-10.417317,-2.462548,-2.485452,-4.935192,-3.673824,-6.147787,2.846264,0.382144,-0.121128
75%,521.250000,0.050561,0.292356,1548.874992,1195.520885,-305.645240,172.020882,-57.212453,5.765002,-20.746350,...,-4.975098,-5.222538,1.936115,1.874239,-1.451470,0.734430,-2.562060,6.571627,3.482057,3.515232
max,799.000000,0.117397,0.431289,2208.021773,2024.552161,-198.328490,227.923570,2.120812,60.023388,16.720814,...,24.189945,16.414433,17.601667,16.342869,14.161560,13.090992,16.691986,28.822079,20.621176,20.637592